* {
    box-sizing: border-box;
    outline: 0;
}
@font-face {
    font-family: 'Medium';
    src: url('./medium_evo.otf') format('opentype');
}
html {
    background-color: #035ba5;
    overflow: hidden;
}
body {
    font-family: roboto mono, roboto, system-ui;
    font-smoothing: antialiased;
    font-variant-ligatures: none;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100vh;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;

}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 105px;
}
h1 {
    font-family: 'Medium';
    color: #fff;
    font-size: 50px;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
h1:before {
	content:'';
	display: block;
	width: 100%;
	height: 5px;
	background: #fff;
    position: absolute;
    left: 0;
    top: -25px;
}
h1:after {
    content:'';
	display: block;
	width: 100%;
	height: 5px;
	background: #fff;
    position: absolute;
    left: 0;
    bottom: -25px;
}
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 30px;
    border-top: 5px solid #fff;
}
footer img {
    width: 75px;
    margin: 0 20px;
}
footer img.facebook-logo {
    width: 55px;
}
.main-logo {
    width: 40%
}

.decoration-logo-1 {
    position: absolute;
    top: 25%;
    left: -15%;
}
.decoration-logo-2 {
    position: absolute;
    bottom: 10%;
    left: -15%;
}
.decoration-logo-3 {
    position: absolute;
    top: 45%;
    left: 15%;
}
.decoration-logo-4 {
    position: absolute;
    top: 17%;
    right: -10%;
}
.decoration-logo-5 {
    position: absolute;
    top: 50%;
    right: -5%;
}
.decoration-logo-6 {
    position: absolute;
    top: 60%;
    right: 15%;
    opacity: 0.5;
}


footer a {
    transition: .3s;
}
footer a:hover {
    transform: scale(1.5);
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 990px) {
    h1 {
        font-size: 30px;
    }
    .main-logo {
        width: 80%;
    }
}
@media (max-width: 425px) {
    header {
        margin-top: 60px;
    }
    h1 {
        font-size: 22px;
    }
    h1:before {
        height: 2px;
        top: -15px;
    }
    h1:after {
        height: 2px;
        bottom: -15px;
    }
    footer {
        padding: 5px 0 5px;
        border-top: 2px solid #fff;
    }
    footer img {
        width: 50px;
    }
    footer img.facebook-logo {
        width: 40px;
    }
    .main-logo {
        width: 100%;
    }
}
